* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  width: 100%;
  cursor: crosshair;
}

div {
  display: flex;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* #mainScore {
  margin: 0 auto;
} */

#score {
  margin: 0;
}

#buttons {
  position: absolute;
  /* Midpoint - 1/2 view width - (width of buttons + gap/2) */
  margin-left: calc(100vw / 2 - 8rem / 2);
}

#clock {
  margin-left: auto;
}

#cityScores {
  justify-content: space-around;
  margin: 0 5em;
}

div p {
  color: white;
  padding: 0.5em;
  margin: 0;
  border: 1px solid white;
  font-size: 1rem;
}

#buttons {
  display: flex;
  gap: 1em;
}

button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

button:active {
  height: 2.2rem;
  width: 2.2rem;
}

svg {
  background-color: #020204;
  fill: white;
  height: 100%;
}

svg:hover {
  fill: lightgreen;
}

#stop:hover > svg {
  fill: red;
}
