body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div {
  display: flex;
}

canvas {
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainScore {
  justify-content: space-between;
}

#cityScores {
  justify-content: space-around;
}

div p {
  color: white;
  padding: 0.5em;
  margin: 0;
  border: 1px solid white;
  font-size: 1.2rem;
}

canvas {
  cursor: crosshair;
}
