* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: black;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  background-image: url('../assets/images/startingScreen.png');
  background-size: contain;
  width: 100vw;
  cursor: crosshair;
}

div {
  display: flex;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#score {
  margin: 0;
}

#buttons {
  display: flex;
  gap: 1em;
  position: absolute;
  /* Midpoint - 1/2 view width - (width of buttons + gap/2) */
  margin-left: calc(100vw / 2 - ((100vw / 50) * 4) + 1em);
  margin-top: 0.1em;
}

#clock {
  margin-left: auto;
}

#cityScores {
  justify-content: space-around;
  margin: 0 3em;
}

div p {
  color: white;
  padding: 0.5em;
  margin: 0;
  border: 1px solid white;
  font-size: calc(100vw / 100);
}

button {
  display: flex;
  height: calc(100vw / 50);
  width: calc(100vw / 50);
  padding: 0;
  margin: 0;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

#reload {
  /* border: 1px solid white; */
  border-radius: 100%;
  /* padding: 3px; */
}

#reload:hover {
  border-color: red;
}

button:active {
  height: calc(100vw / 52);
  width: calc(100vw / 52);
}

button:disabled > svg {
  height: calc(100vw / 50);
  width: calc(100vw / 50);
  fill: lightgray;
  cursor: default;
}

svg {
  fill: white;
  height: 100%;
}

svg:hover {
  fill: lightgreen;
}

#stop:hover > svg,
#reload:hover > svg {
  fill: red;
}
